@model IEnumerable<MVCAppSystem.Models.CustomerRegistration>

@{
    ViewData["Title"] = "Index";
}


<div class="">
    @*<h2 id="h2">Customers Histories</h2>*@
    <h1 id="h2">Current Customers In Hotel</h1>
    <div id="a-tag">
        <a asp-controller="CustomerRegistrations" asp-action="Create" class="btn btn-primary m-2">Create New</a>
        <a asp-controller="Staff" asp-action="Index" class="btn btn-warning m-2">Back To Dashboard</a>
    </div>
    <br />
</div>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<br />
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bed)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IdProof)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmaiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Address)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.State)
            </th>*@
          @*  <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CheckinTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAllocated)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Room)
            </th>*@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bed)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IdProof)
            </td>
            <td>
               <span>@Html.DisplayFor(modelItem => item.CustomerName)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmaiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PinCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CheckinTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAllocated)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Room.Bed)
            </td>*@
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.RoomNo">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.RoomNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomNo">Checkout</a>
            </td>
        </tr>
}
    </tbody>
</table>
